.cards {
  transition: opacity 0.3s;

  &--loading {
    opacity: 0.6;
  }

  &__section {
    margin-top: 36px;
    margin-bottom: 36px;

    &--recommended {
      margin-bottom: 64px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__header-title,
  &__header-link {
    @include text-style-semibold-type-16;

    padding: 10px 20px;
    text-transform: capitalize;
  }

  &__header-link {
    color: $color-primary-500;
    transition: 0.3s;

    &:hover {
      color: $color-primary-700;
    }
  }

  &__header-title {
    color: $color-secondary-300;
  }

  &__container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 32px;
  }

  &--horizontal-scrolling {
    @include mq(md, max) {
      .cards__container {
        @include scrollbar(true);

        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        padding-bottom: 16px;
      }

      .card {
        flex: 1 0 320px;
        scroll-snap-align: start;
      }
    }
  }
}

.card {
  padding: 24px;
  background-color: $color-primary-0;
  border-radius: 10px;
  display: flex;
  gap: 64px;
  flex-wrap: wrap;

  @include mq(md, max) {
    gap: 36px;
  }

  &__title {
    @include text-style-bold-type-20;

    color: $color-secondary-500;
    margin-bottom: 4px;
  }

  &__subtitle {
    @include text-style-bold-type-14;

    color: $color-secondary-300;
    text-transform: capitalize;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }

  &__thumbnail {
    flex: 2 0 calc(50% - 10px);
    height: 64px;
    object-fit: contain;
  }

  &__info {
    flex: 1 1 0;
    color: $color-secondary-300;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-bottom: 24px;
  }

  &__info-item {
    @include text-style-medium-type-12;

    display: flex;
    gap: 4px;
    align-items: center;
    white-space: nowrap;

    span {
      text-transform: capitalize;
    }
  }

  &__info-icon {
    width: 24px;
    height: 24px;
  }

  &__link {
    padding: 10px 20px;
    flex: 0 1 112px;
  }

  &__price {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.like-button {
  color: $color-secondary-300;
  cursor: pointer;

  &--liked {
    color: #ed3f3f;
    fill: #ed3f3f;
  }
}

.show-more {
  margin-bottom: 64px;
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__button {
    grid-column-start: 2;
    margin: 0 auto;
    text-align: center;
  }

  &__total-count {
    @include text-style-medium-type-14;

    align-self: center;
    color: $color-secondary-300;
    text-align: right;
  }
}