.cards {
    &__section {
        margin-top: 36px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__header-title,
    &__header-link {
        @include text-style-semibold-type-16;

        padding: 10px 20px;
        text-transform: capitalize;
    }

    &__header-link {
        color: $color-primary-500;
        transition: .3s;

        &:hover {
            color: $color-primary-700;
        }
    }

    &__header-title {
        color: $color-secondary-300;
    }

    &__container {
        margin-top: 20px;
    }
}