.dashboard {
  height: 100%;

  &__grid {
    height: 100%;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: 100%;
    padding: 36px 16px;
  }

  &__cell {
    background-color: black;
    color: white;
  }
}

.navigation-group {
  &__name {
    @include text-style-semibold-type-12;

    color: rgba(#94a7cb, 0.4);
    text-transform: uppercase;
    margin-bottom: 28px;
  }

  &__item {
    @include text-style-medium-type-16;

    width: 254px;
    transition:
      0.1s color,
      0.3s background-color;
    color: $color-secondary-300;
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 16px 14px;
    border-radius: 10px;

    &--active {
      color: $color-primary-0;
      background-color: $color-primary-500;
    }

    &:hover {
      color: $color-secondary-200;
    }
  }
}

