.dialog {
  &__wrapper {
    &--open {
      animation: slide-in-right 0.2s forwards;
    }

    &--closed {
      animation: slide-out-right 0.2s forwards;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
