.select {
  position: relative;
  cursor: pointer;

  &--disabled {
    opacity: 0.5;

    .select__data {
      cursor: default;
    }
  }

  &__placeholder {
    @include text-style-medium-type-14;

    flex-grow: 1;
    user-select: none;
    position: relative;
  }

  &__data {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  &__arrow-down {
    width: 14px;
    height: 14px;
    color: $color-secondary-500;
    transition: transform 0.2s;
    transform: rotateZ(0);
    margin-left: auto;

    &--rotate {
      transform: rotateZ(-180deg);
    }
  }

  &__dropdown {
    transform-origin: left top;
    top: calc(100% + 10px);
    left: 0;

    &--left-top {
      transform-origin: left bottom;
      bottom: calc(100% + 10px);
      left: auto;
      top: auto;
    }

    &--right-top {
      transform-origin: right bottom;
      bottom: calc(100% + 10px);
      right: 0;
      left: auto;
      top: auto;
    }

    &--left-bottom {
      transform-origin: right top;
      right: 0;
      left: auto;
    }

    &--right-bottom {
      transform-origin: left top;
      right: auto;
      left: 0;
    }

    pointer-events: none;
    position: absolute;
    z-index: 30;
    -webkit-box-shadow: -1px 4px 4px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: -1px 4px 4px 1px rgba(0, 0, 0, 0.33);
    box-shadow: -1px 4px 4px 1px rgba(0, 0, 0, 0.33);
    border-radius: 5px;
    background-color: $color-primary-0;
    width: 280px;

    &--closed {
      animation: disappear 0.1s ease-out forwards;
      display: none;
    }

    &--open {
      pointer-events: all;
      display: block;
      animation: appear 0.08s ease-out forwards;
    }
  }

  &__value {
    @include text-style-bold-type-14;
  }

  &__option-wrapper {
    padding: 10px 14px;
    width: 100%;

    &:hover {
      background-color: rgba($color-secondary-200, 0.3);
    }

    &:active {
      background-color: rgba($color-secondary-200, 0.5);
    }

    &--selected {
      background-color: rgba($color-secondary-200, 0.5);
    }

    &--disabled {
      cursor: default;
      color: $color-secondary-300;
    }
  }

  &__option {
    @include text-style-regular-type-14;

    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__options-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-height: 300px;
    overflow-y: scroll;
  }
}

.select-wrapper {
  &--native {
    position: relative;
    cursor: pointer;

    select,
    input {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      background: transparent;
      bottom: 0;
      color: transparent;
      cursor: pointer;
      height: auto;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}
