.select {
    position: relative;
    cursor: pointer;

    &__placeholder {
        @include text-style-medium-type-14;

        color: $color-secondary-300;
        flex-grow: 1;
        user-select: none;
    }

    &__data {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__arrow-down {
        width: 14px;
        height: 14px;
        color: $color-secondary-500;
        transition: transform .2s;
        transform: rotateZ(0);
        margin-left: auto;

        &--rotate {
            transform: rotateZ(-180deg);
        }
    }

    &__dropdown {
        pointer-events: none;
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        -webkit-box-shadow: -1px 4px 4px 1px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: -1px 4px 4px 1px rgba(0, 0, 0, 0.33);
        box-shadow: -1px 4px 4px 1px rgba(0, 0, 0, 0.33);
        border-radius: 5px;
        background-color: $color-primary-0;
        width: 280px;
        animation: disappear .1s ease-out forwards;

        &--open {
            pointer-events: all;
            display: block;
            animation: appear .1s ease-out forwards;
        }
    }

    &__value {
        @include text-style-bold-type-14;
    }
}