body:has(.dashboard) {
  height: 100vh;
}

.sidebar {
  position: relative;
  background-color: $color-primary-0;
  align-self: stretch;
  z-index: 21;
  max-width: 500px;

  @include mq(md, max) {
    position: fixed;
    width: 100%;
  }

  &__placeholder {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100%;
    background-color: $color-primary-0;

    &--hidden {
      width: 0;
    }
  }

  &__filters {
    padding: 32px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 56px;
  }

  &__inner-wrapper {
    @include scrollbar;

    position: sticky;
    overflow-y: scroll;
    position: sticky;
  }

  &.to-top--active {
    transform: translateY(0);
  }

  &--hidden {
    transform: translateX(-100%);
    max-width: 0;
    pointer-events: none;
  }

  &__range-value {
    @include text-style-semibold-type-20;

    color: $color-secondary-400;
    margin-top: 16px;
    display: block;
  }

  &__input-group-name {
    @include text-style-semibold-type-12;

    color: $color-secondary-300;
    text-transform: uppercase;
    margin-bottom: 28px;
    letter-spacing: 1.68px;
  }

  &__inputs {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__checkbox {
    @include text-style-semibold-type-20;

    color: $color-secondary-400;
    display: flex;
    gap: 10px;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }

  &__checkbox-count {
    color: $color-secondary-300;
  }

  &__input {
    display: none;

    &:checked {
      & ~ .sidebar__checkmark {
        display: none;

        &--checked {
          display: block;
        }
      }
    }
  }

  &__checkmark {
    width: 20px;
    height: 20px;
    cursor: pointer;

    &--checked {
      display: none;
    }
  }
}

.with-sidebar {
  display: flex;
  max-height: 100%;

  &__content {
    flex-grow: 1;
    max-width: 100%;
  }
}
