.toast {
  width: 350px;
  height: 90px;
  -webkit-box-shadow: -3px 3px 8px 2px rgba(0, 0, 0, 0.3);
  box-shadow: -3px 3px 8px 2px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  z-index: 60;

  &:not(.toast--slide-out-right) {
    animation: slide-in-left 0.2s forwards;
  }

  &--slide-out-right {
    animation: slide-out-left 0.2s forwards;
  }

  &__container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 20px;
    bottom: 20px;
    row-gap: 10px;
    pointer-events: none;
  }

  &__icon {
  }

  &__content {
  }

  &__close {
  }
}
