$toast-height: 90px;

.toast {
  width: 350px;
  height: $toast-height;
  -webkit-box-shadow: -3px 3px 8px 2px rgba(0, 0, 0, 0.3);
  box-shadow: -3px 3px 8px 2px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  &:not(.toast--disappear) {
    animation: slide-in-left 0.2s forwards;
  }

  &--disappear {
    animation: toast-disappear 0.4s forwards;
  }

  &__container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 20px;
    bottom: 20px;
    row-gap: 10px;
    pointer-events: none;
    z-index: 60;
  }

  &__icon {
  }

  &__content {
  }

  &__close {
  }
}

@keyframes toast-disappear {
  0% {
    transform: translateX(0);
    opacity: 1;
    height: $toast-height;
  }
  80% {
    transform: translateX(100%);
    opacity: 0;
    height: $toast-height;
  }
  100% {
    height: 0;
    opacity: 0;
    transform: translateX(100%);
  }
}
