$sqrt_2: 1.41421356237;
$tooltip-margin: 7px;
$tooltip-arrow-x-value: 10;
$tooltip-arrow-x: #{$tooltip-arrow-x-value}px;
$tooltip-arrow-half-diagonal: $tooltip-arrow-x-value * $sqrt_2 / 2 * 1px;

.tooltip {
  &__wrapper {
    position: relative;

    &:hover > .tooltip__content:not(.tooltip__content--manual-open) {
      opacity: 1;
    }
  }

  &__content {
    z-index: 1000;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-out 0.2s;
    background-color: #000;
    padding: 5px 10px;
    border-radius: 3px;
    width: max-content;

    &:before {
      content: "";
      width: $tooltip-arrow-x;
      height: $tooltip-arrow-x;
      position: absolute;
      display: none;
      background-color: #000;
      border-radius: 1px;
    }

    &--open {
      opacity: 1;
    }

    &--show-arrow {
      &:before {
        display: block;
      }
    }

    &--center-top {
      margin-bottom: $tooltip-margin;
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, 0);

      &:before {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -$tooltip-arrow-half-diagonal) rotate(45deg);
      }
    }
    &--center-bottom {
      margin-top: $tooltip-margin;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);

      &:before {
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, $tooltip-arrow-half-diagonal) rotate(45deg);
      }
    }
    &--left-center {
      margin-right: $tooltip-margin;
      right: 100%;
      top: 50%;
      transform: translate(0, -50%);

      &:before {
        left: 100%;
        top: 50%;
        transform: translate(-$tooltip-arrow-half-diagonal, -50%) rotate(45deg);
      }
    }
    &--right-center {
      margin-left: $tooltip-margin;
      left: 100%;
      top: 50%;
      transform: translate(0, -50%);

      &:before {
        right: 100%;
        top: 50%;
        transform: translate($tooltip-arrow-half-diagonal, -50%) rotate(45deg);
      }
    }
    &--left-top {
      margin-right: $tooltip-margin;
      margin-bottom: $tooltip-margin;
      right: 100%;
      bottom: 100%;
    }
    &--right-top {
      margin-left: $tooltip-margin;
      margin-bottom: $tooltip-margin;
      left: 100%;
      bottom: 100%;
    }
    &--right-bottom {
      margin-left: $tooltip-margin;
      margin-top: $tooltip-margin;
      left: 100%;
      top: 100%;
    }
    &--left-bottom {
      margin-right: $tooltip-margin;
      margin-top: $tooltip-margin;
      right: 100%;
      top: 100%;
    }

    &--follow-mouse {
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;

      &.tooltip__content {
        &--center-top {
          transform: translate(-50%, -100%);
        }
        &--center-bottom {
          transform: translate(-50%, 100%);
        }
        &--left-center {
          transform: translate(-100%, -50%);
        }
        &--right-center {
          transform: translate(100%, -50%);
        }
      }

      &:before {
        display: none;
      }
    }
  }
}
