@each $weight in $typographyWeights {
  @each $size in $typographySizes {
    $className: "typography--text-style-#{$weight}-type-#{$size}";

    .#{$className} {
      @include text-style($weight, $size);
    }
  }
}

.typography--primary900 {
  color: $color-primary-900;
}
.typography--color-primary800 {
  color: $color-primary-800;
}
.typography--primary700 {
  color: $color-primary-700;
}
.typography--color-primary600 {
  color: $color-primary-600;
}
.typography--primary500 {
  color: $color-primary-500;
}
.typography--color-primary400 {
  color: $color-primary-400;
}
.typography--primary300 {
  color: $color-primary-300;
}
.typography--color-primary200 {
  color: $color-primary-200;
}
.typography--primary100 {
  color: $color-primary-100;
}
.typography--color-primay-0 {
  color: $color-primary-0;
}
.typography--success900 {
  color: $color-success-900;
}
.typography--color-success800 {
  color: $color-success-800;
}
.typography--success700 {
  color: $color-success-700;
}
.typography--color-success600 {
  color: $color-success-600;
}
.typography--success500 {
  color: $color-success-500;
}
.typography--color-success400 {
  color: $color-success-400;
}
.typography--success300 {
  color: $color-success-300;
}
.typography--color-success200 {
  color: $color-success-200;
}
.typography--success100 {
  color: $color-success-100;
}
.typography--color-error900 {
  color: $color-error-900;
}
.typography--error800 {
  color: $color-error-800;
}
.typography--color-error700 {
  color: $color-error-700;
}
.typography--error600 {
  color: $color-error-600;
}
.typography--color-error500 {
  color: $color-error-500;
}
.typography--error400 {
  color: $color-error-400;
}
.typography--color-error300 {
  color: $color-error-300;
}
.typography--error200 {
  color: $color-error-200;
}
.typography--color-error100 {
  color: $color-error-100;
}
.typography--warning900 {
  color: $color-warning-900;
}
.typography--color-warning800 {
  color: $color-warning-800;
}
.typography--warning700 {
  color: $color-warning-700;
}
.typography--color-warning600 {
  color: $color-warning-600;
}
.typography--warning500 {
  color: $color-warning-500;
}
.typography--color-warning400 {
  color: $color-warning-400;
}
.typography--warning300 {
  color: $color-warning-300;
}
.typography--color-warning200 {
  color: $color-warning-200;
}
.typography--warning100 {
  color: $color-warning-100;
}
.typography--color-information900 {
  color: $color-information-900;
}
.typography--information800 {
  color: $color-information-800;
}
.typography--color-information700 {
  color: $color-information-700;
}
.typography--information600 {
  color: $color-information-600;
}
.typography--color-information500 {
  color: $color-information-500;
}
.typography--information400 {
  color: $color-information-400;
}
.typography--color-information300 {
  color: $color-information-300;
}
.typography--information200 {
  color: $color-information-200;
}
.typography--color-information100 {
  color: $color-information-100;
}
.typography--secondary900 {
  color: $color-secondary-900;
}
.typography--color-secondary800 {
  color: $color-secondary-800;
}
.typography--secondary700 {
  color: $color-secondary-700;
}
.typography--color-secondary600 {
  color: $color-secondary-600;
}
.typography--secondary500 {
  color: $color-secondary-500;
}
.typography--color-secondary400 {
  color: $color-secondary-400;
}
.typography--secondary300 {
  color: $color-secondary-300;
}
.typography--color-secondary200 {
  color: $color-secondary-200;
}
.typography--secondary100 {
  color: $color-secondary-100;
}

