@import '../variables';
@import '../mixins';

.search {
    @include text-style-medium-type-14;

    flex-grow: 1;
    max-width: 490px;
    border: 1px solid rgba(#C3D4E9, 0.4);
    border-radius: 70px;
    padding: 10px 20px;
    gap: 20px;
    display: flex;
    color: $color-secondary-400;
    cursor: text;

    &:has(.search__input:focus) {
        border-color: rgba(#97b6db, 1);
    }

    &__magnifier-icon,
    &__filter-icon {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        cursor: pointer;
    }

    &__input {
        flex-grow: 1;

        &:focus {
            outline: none;
        }
    }

}