@import 'variables';

.container {
    padding: 0 $container-px-lg;
    width: 100%;
    max-width: $container-max-w;
    margin: 0 auto;
}

.col {
    padding: 0 $grid-spacing / 2;
}

@for $i from 1 through 12 {
    .col-1\/#{$i} {
        width: 100% / $i;
    }
}