@mixin text-style-regular-type-12 {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: -0.01em;
}

@mixin text-style-regular-type-14 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-regular-type-16 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-regular-type-18 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-regular-type-20 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-regular-type-24 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-regular-type-32 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-regular-type-36 {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.03em;
}

@mixin text-style-regular-type-40 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.03em;
}

@mixin text-style-regular-type-72 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.04em;
}

@mixin text-style-medium-type-12 {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: -0.02em;
}

@mixin text-style-medium-type-14 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-medium-type-16 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-medium-type-18 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-medium-type-20 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-medium-type-24 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-medium-type-32 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-medium-type-36 {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.03em;
}

@mixin text-style-medium-type-40 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.03em;
}

@mixin text-style-medium-type-72 {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.03em;
}

@mixin text-style-semibold-type-12 {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.02em;
}

@mixin text-style-semibold-type-14 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-semibold-type-16 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-semibold-type-18 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-semibold-type-20 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-semibold-type-24 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.03em;
}

@mixin text-style-semibold-type-32 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.03em;
}

@mixin text-style-semibold-type-36 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.03em;
}

@mixin text-style-semibold-type-40 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.03em;
}

@mixin text-style-semibold-type-72 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.03em;
}

@mixin text-style-bold-type-12 {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: -0.02em;
}

@mixin text-style-bold-type-14 {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-bold-type-16 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin text-style-bold-type-18 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.03em;
}

@mixin text-style-bold-type-20 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.03em;
}

@mixin text-style-bold-type-24 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.03em;
}

@mixin text-style-bold-type-32 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.03em;
}

@mixin text-style-bold-type-36 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.03em;
}

@mixin text-style-bold-type-40 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.03em;
}

@mixin text-style-bold-type-72 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.03em;
}

@mixin text-style($weight, $size) {
  $fontWeight: (
    regular: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
  );

  $fontSize: (
    12: 0.75rem,
    14: 0.875rem,
    16: 1rem,
    18: 1.125rem,
    20: 1.25rem,
    24: 1.5rem,
    32: 2rem,
    36: 2.25rem,
    40: 2.5rem,
    72: 4.5rem,
  );

  $lineHeight: 150%;
  $letterSpacing: -0.02em;

  @if map-has-key($fontWeight, $weight) and map-has-key($fontSize, $size) {
    font-size: map-get($fontSize, $size);
    font-weight: map-get($fontWeight, $weight);
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;

    @if $weight == "bold" {
      $letterSpacing: -0.03em;
      letter-spacing: $letterSpacing;
    }

    @if $size ==12 {
      $letterSpacing: -0.01em;
      letter-spacing: $letterSpacing;
    }

    @if $size >24 {
      $lineHeight: 150%;
      line-height: $lineHeight;
    }

    @if $size >32 {
      $letterSpacing: -0.03em;
      letter-spacing: $letterSpacing;
    }
  } @else {
    @error "Invalid weight or size specified for text style.";
  }
}

@mixin placeholder {
  &::placeholder {
    @content;

    opacity: 1; // For FireFox (by default, the opacity is decreased there)
  }

  &::-ms-input-placeholder,
  &.placeholder {
    @content;
  }
}

@mixin scrollbar($show_always: false) {
  $width: 8px;
  $background-color: #f0f0f0;
  $thumb-color: #c0c0c0;
  $hover-thumb-color: #a0a0a0;

  &::-webkit-scrollbar {
    width: $width;
    height: $width;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }

  @if $show_always {
    &::-webkit-scrollbar {
      background-color: $background-color;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $thumb-color;

      &:hover {
        background-color: $hover-thumb-color;
      }
    }
  }

  &:hover {
    &::-webkit-scrollbar {
      background-color: $background-color;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $thumb-color;

      &:hover {
        background-color: $hover-thumb-color;
      }
    }
  }
}

@mixin mq($bp, $max_or_min: "max") {
  $width: map-get($breakpoints, $bp);

  @if $max_or_min == "max" {
    @media (max-width: $width) {
      @content;
    }
  } @else {
    @media (min-width: $width) {
      @content;
    }
  }
}
