.hidden {
  display: none;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.to-top {
  transition: transform 0.5s;
  transform: translateY(0);
}

.no-shrink {
  flex-shrink: 0;
}
