$color-primary-900: rgba(10, 25, 111, 1);
$color-primary-800: rgba(16, 37, 135, 1);
$color-primary-700: rgba(26, 55, 167, 1);
$color-primary-600: rgba(38, 75, 200, 1);
$color-primary-500: rgba(53, 99, 233, 1);
$color-primary-400: rgba(101, 141, 241, 1);
$color-primary-300: rgba(133, 168, 248, 1);
$color-primary-200: rgba(174, 200, 252, 1);
$color-primary-100: rgba(214, 228, 253, 1);
$color-primary-0: rgba(255, 255, 255, 1);
$color-success-900: rgba(59, 101, 6, 1);
$color-success-800: rgba(76, 122, 11, 1);
$color-success-700: rgba(101, 151, 17, 1);
$color-success-600: rgba(127, 181, 25, 1);
$color-success-500: rgba(156, 211, 35, 1);
$color-success-400: rgba(188, 228, 85, 1);
$color-success-300: rgba(211, 241, 120, 1);
$color-success-200: rgba(232, 250, 166, 1);
$color-success-100: rgba(245, 252, 210, 1);
$color-error-900: rgba(122, 6, 25, 1);
$color-error-800: rgba(147, 11, 22, 1);
$color-error-700: rgba(183, 17, 18, 1);
$color-error-600: rgba(219, 39, 25, 1);
$color-error-500: rgba(255, 68, 35, 1);
$color-error-400: rgba(255, 127, 89, 1);
$color-error-300: rgba(255, 163, 122, 1);
$color-error-200: rgba(255, 200, 166, 1);
$color-error-100: rgba(255, 231, 211, 1);
$color-warning-900: rgba(122, 77, 11, 1);
$color-warning-800: rgba(147, 99, 18, 1);
$color-warning-700: rgba(183, 130, 29, 1);
$color-warning-600: rgba(219, 163, 42, 1);
$color-warning-500: rgba(255, 199, 58, 1);
$color-warning-400: rgba(255, 217, 107, 1);
$color-warning-300: rgba(255, 228, 136, 1);
$color-warning-200: rgba(255, 239, 176, 1);
$color-warning-100: rgba(255, 248, 215, 1);
$color-information-900: rgba(16, 46, 122, 1);
$color-information-800: rgba(26, 67, 147, 1);
$color-information-700: rgba(42, 96, 183, 1);
$color-information-600: rgba(61, 129, 219, 1);
$color-information-500: rgba(84, 166, 255, 1);
$color-information-400: rgba(126, 194, 255, 1);
$color-information-300: rgba(152, 211, 255, 1);
$color-information-200: rgba(186, 229, 255, 1);
$color-information-100: rgba(220, 243, 255, 1);
$color-secondary-900: rgba(4, 8, 21, 1);
$color-secondary-800: rgba(8, 12, 25, 1);
$color-secondary-700: rgba(13, 18, 31, 1);
$color-secondary-600: rgba(19, 24, 37, 1);
$color-secondary-500: rgba(26, 32, 44, 1);
$color-secondary-400: rgba(89, 103, 128, 1);
$color-secondary-300: rgba(144, 163, 191, 1);
$color-secondary-200: rgba(195, 212, 233, 1);
$color-secondary-100: rgba(224, 233, 244, 1);
$color-section-bg: #f6f7f9;

$container-px-lg: 32px;
$container-px-sm: 25px;
$container-max-w: 1312px;

$section-outer-my: 32px;
$section-outer-big-my: 64px;
$section-outer-big-my-sm: 48px;

$grid-spacing: 32px;
$grid-spacing-sm: 20px;

$nav-py: 20px;
$nav-height: 92px;

$typographyWeights: regular, medium, semibold, bold;
$typographySizes: 12, 14, 16, 18, 20, 24, 32, 36, 40, 72;
