@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "layout";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;
  text-transform: none;
  text-decoration: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
  transition: color .1s, background-color .1s, border-width .1s, border-color .1s, opacity .1s;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}