@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "layout";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;
}

body {
  line-height: 1;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

ol,
ul {
  list-style: none;
}