.footer {
  background-color: $color-primary-0;
  padding-top: 80px;
  padding-bottom: 60px;

  &__logo-par {
    width: 292px;
  }

  &__par {
    @include text-style-medium-type-16;

    margin-top: 16px;
    color: rgba(#131313, 0.6);
  }

  &__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 36px;

    @include mq(lg, max) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  }

  &__navs {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: flex-end;

    @include mq(md, max) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__nav {
    width: 152px;
  }

  &__nav-title {
    @include text-style-semibold-type-20;

    color: $color-secondary-500;
    margin-bottom: 34px;
  }

  &__nav-link {
    @include text-style-medium-type-16;

    color: rgba(#131313, 0.6);
  }

  &__nav-link-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__divider {
    width: 100%;
    height: 1px;
    background-color: rgba(#131313, 0.16);
  }

  &__bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    row-gap: 30px;
    justify-content: space-between;

    @include mq(md, max) {
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
    }
  }

  &__bottom-rights,
  &__bottom-link {
    @include text-style-semibold-type-16;

    color: $color-secondary-500;
  }

  &__bottom-links {
    display: flex;
    column-gap: 60px;
    row-gap: 30px;

    @include mq(md, max) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
}
