body:has(.modal-window--open) {
  overflow: hidden;
}

.modal-window {
  @include scrollbar;

  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba($color-primary-0, 0.97);
  transition: background-color 0.2s;
  z-index: 70;

  &--open {
    animation: appear 0.2s forwards;
  }

  &--closed {
    animation: disappear 0.2s forwards;
    pointer-events: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__content {
    padding: 30px 15px;
    margin: 0 auto;
    width: clamp(250px, 85%, 1200px);
    min-height: 100%;

    @include mq(sm, max) {
      padding: 15px;
      width: clamp(230px, 100%, 1200px);
    }
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;

  &__submit {
    margin-top: 15px;
  }
}
