.animate-rotate {
  animation: rotate 0.6s infinite linear;
}

.animate-appear {
  animation: appear 0.08s ease-out forwards;
}

.animate-disappear {
  animation: disappear 0.1s ease-out forwards;
}

.animate-fadein {
  animation: fadein 0.08s ease-out forwards;
}

.animate-fadeout {
  animation: fadeout 0.08s ease-out forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    scale: 0.9;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    scale: 1;
    opacity: 1;
  }

  70% {
    scale: 0.9;
    opacity: 0;
  }

  100% {
    scale: 0.9;
    opacity: 0;
    display: none;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
    display: none;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
