@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;
  text-transform: none;
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: color 0.1s, background-color 0.1s, border-width 0.1s,
    border-color 0.1s, opacity 0.1s;
}

body {
  line-height: 1;
  background-color: #f6f7f9;
}

ol,
ul {
  list-style: none;
}

section {
  margin: $section-outer-my 0;
}

svg {
  transition: unset;
}
