@import "variables";

.container {
  box-sizing: content-box;
  padding: 0 $container-px-lg;
  max-width: $container-max-w;
  margin-left: auto;
  margin-right: auto;

  @include mq(sm, max) {
    padding: 0 $container-px-sm;
  }
}

.col {
  padding: 0 $grid-spacing / 2;
}

.content {
  max-width: 100vw;
}

@for $i from 1 through 12 {
  .col-1\/#{$i} {
    width: 100% / $i;
  }
}
